[submodule "Vendor/Sparkle"]
	path = Vendor/Sparkle
	url = https://github.com/zwaldowski/Sparkle.git
[submodule "Vendor/aacplusenc"]
	path = Vendor/aacplusenc
	url = https://github.com/teknoraver/aacplusenc.git
