[submodule "Vendor/Sparkle"]
	path = Vendor/Sparkle
	url = https://github.com/zwaldowski/Sparkle.git
[submodule "aacplusenc"]
	path = Vendor/aacplusenc/aacplusenc-src
	url = https://github.com/teknoraver/aacplusenc.git
